html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
html, body {
    margin:0; padding:0;
    background-color:lightblue ;
}
body {
    display: flex;
    position: relative;
    background-color: lightblue;
    height: 100vh;
}
img {
    width: 100%;
    height: auto;
}
.keys{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    bottom:5vh;
    left:0;
    min-width: 100%;
    height: max-content;
    flex-direction: row;
    gap: 2vw;
    padding: 2vw;
    margin-right: 2vw;
}
.key{
    flex-grow: 1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.25ch;
    cursor: pointer;
    user-select: none;
    background-color: gray;
    box-shadow: 0 9px #999;
    opacity: 0.6;
}
.key:hover {
    background-color: #2b302b
}
.key:active {
    background-color: #1a1a1a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.kannel {
    width: 40rem;
    height: 20rem;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;

}

.p5Canvas {
    width: 50rem !important;
    color: lightblue;
    margin: 2vw;
    padding: 1vw;
    position: absolute;
}