.html {
    box-sizing: border-box !important;
}
*, *::after, *::before {
    box-sizing: inherit !important;
}
.html, .body {
    display: flex;
}

.keys{
    display: flex;
    /*grid-template-columns: repeat(3, 1fr);*/
    bottom:5vh;
    /*left:0;*/
    min-width: 230px;
    height: 30px;
    gap: 20px;
    /*padding: 40px;
    margin: 40px;*/
    justify-content: center;
    margin-top: 300px !important;
    padding-right: 50px !important;
}
.key{
    flex-grow: 1;
    min-width: max-content;
    min-height: max-content !important;
    height: 300px !important;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border:black solid 1px ;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    background-color: gray;
    box-shadow: 2 2px #999;
    opacity: 0.6;
    height: 30px;
    min-width: 230px;
}
.key:hover {
    background-color: #2b302b
}
.key:active {
    background-color: #1a1a1a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.key:focus {
    background-color: #1a1a1a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.kannel {
    width: 640px;
    height: 320px;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;

}

.p5Canvas {
    /*width: 1340px !important;*/
    margin-left: 342px; 
   /* height: 300px !important;*/
   width: 0px !important;
   height: 0px !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 240px !important;
    border-radius: 5px;
    color: blanchedalmond;
}

/*#voti {
width: auto;
margin: auto;
padding: auto;
justify-content: center;
    
}*/